extends _layout

block page
  .page-home

    .page-home__wrapper

      //- COVER
      section.page-home__section.page-home__section--cover
        .page-home__section-wrapper

          .section.section--cover
            .section.section__wrapper
              .section__index-wrapper
                .section__icon
                  include ../src/assets/images/logo-cover.svg
              .section__info-wrapper
                .section__info
                  h2.section__title!=home.cover.title
                  p.section__intro!=home.cover.intro
                  p.section__intro!=home.cover.subintro

                  .section__links
                    each link in site.links
                      if link.type === 'email'
                        a.section__link(href=`mailto:${link.href}?subject=Hi%20Andrea!`)=link.label
                      else
                        a.section__link(href=link.href)=link.label

      //- SKILLS
      section.page-home__section.page-home__section--skills
        .page-home__section-wrapper

          .section.section--skills
            .section.section__wrapper
              .section__index-wrapper
                .section__icon
                  include ../src/assets/images/skills.svg

              .section__info-wrapper
                .section__info
                  h2.section__title!=home.skills.title
                  p.section__intro!=home.skills.intro
                  p.section__description!=home.skills.description

      // MINDSET
      section.page-home__section.page-home__section--mindset
        .page-home__section-wrapper

          .section.section--mindset
            .section.section__wrapper
              .section__index-wrapper
                .section__icon
                  include ../src/assets/images/mindset.svg

              .section__info-wrapper
                .section__info
                  h2.section__title!=home.mindset.title
                  p.section__intro!=home.mindset.intro
                  p.section__description!=home.mindset.description